html {
    background-color: #866279;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    letter-spacing: 2px;
}

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #331D2B;
    position: fixed;
    top: 0;
    width: 98.9%;
    font-size: 28px;
    font-weight: bold;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
  }
  
  li a:hover {
    background-color: #866279;
    color: black;
  }

  #right {
    float: right;
  }

  h1 {
    padding-top: 50px;
    padding-left: 5px;
    font-size: 30px;
  }

  h2 {
    padding-left: 5px;
    font-size: 28px;
  }

  h3 {
    padding-left: 5px;
    font-size: 25px;
  }

  .me {
    width: 300px;
    height: 400px;
    border-radius: var(--border-radius);
    flex-shrink: 0;
    float: right;
    padding-left: 5px;
  }

  .about {
    font-size: 18px;
    padding: 5px;
  }

  .facts {
    font-size: 18px;
  }

  #sharks {
    width: 700px;
    height: 500px;
    padding-left: 5px;
  }

  h4 {
    font-size: 20px;
  }

  .web {
    font-size: 18px;
  }

  #potter {
    width: 700px;
    height: 500px;
    /* float: right; */
    padding-left: 5px;
  }

  #jamaica {
    width: 700px;
    height: 500px;
    /* float: right; */
    padding-left: 5px;
  }
  

  table, th, td {
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }

  th {
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  tr {
    background-color: #D9BBCE;
    border-bottom: 1px solid #331D2B;
    margin-bottom: 5px;
  }

  .skills {
    padding-bottom: 50px;
  }

  footer {
    background-color: #331D2B;
    color: white;
    padding: 0;
    margin-top: -50px;
    font-size: 18px;
    text-align: center;
  }

  /* Contact page CSS */

  .contactTitle {
    padding-top: 50px;
    padding-left: 5px;
  }

  .statement {
    padding-bottom: 50px;
  }